* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
}
li {
  list-style: none;
  text-transform: uppercase;
  /* font-weight: bold; */
}
a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}
a:hover {
  color: blue;
  cursor: pointer;
}
.brand {
  color: black;
}
.brand-2 {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.flex-nav {
  display: flex;
  position: sticky;
  overflow: hidden;
  /* position: relative; */

  height: 20vh;
  padding: 10px;
  text-decoration: none;
  z-index: 2;
  border: 2px solid lightgray;
  box-shadow: 0, 10px, 30px, rgba(0, 0, 0, 0.7);
  align-items: center;
  text-align: center;
  background-color: darkgray;
  justify-content: space-between;
}
.link-container {
  display: flex;
  gap: 10px;
  margin-right: 20px;

  /* position: absolute; */
}
.link-item {
  display: flex;
  justify-content: space-around;
  padding: 0, 10px;
}
.active {
  display: flex;
  justify-content: space-around;
  padding: 0, 10px;
  border-bottom: 2px solid lightblue;
}
.wrapper {
  background-color: lightcyan;
  position: relative;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 50%;
  overflow: hidden;
}
.brand-quote {
  position: relative;
  width: 100%;
}
.brand-quote{
    opacity: 0.6;
}
.brand-quote p {
  position: absolute;
  top: 90%;
  z-index: 2;
  transform: translateX(40%);
  width: 500px;
  color: white;
  align-items: center;
}
.theme {
  margin-bottom: 10px;
}

.content {
  margin-bottom: 10px;
}
input {
  font-size: 15px;
  border-radius: 8px;
  padding: 5px;
}
.add-btn{
    display: flex;
    color: black;
 
    width: 50px;
    height: 60px;
    background: none;
}
button {
  border-radius: 8px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  padding: 5px;
  /* background: blue; */
  border: none;
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
  align-items: center;
  text-align: center;
}
button:hover {
  background-color: blue;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header .outline {
  background: darkgrey;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
}
.header p {
  font-size: 14px;
  opacity: 0.9;
}
.task-app {
  width: 100%;
  z-index: 3;
  /* position: ; */
  /* display: flex; */
  max-width: 500px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0, 10px, 25px rgba(0, 0, 0, 0.4);
  margin: 25px auto;
  align-items: center;
  justify-content: center;
}

.todo-input {
  flex: 1;
  padding: 10px 15px;
  background-color: lightgray;
  display: flex;
  border-bottom: 1px solid lightslategray;

}
.todo-input:focus {
  box-shadow: 2px, 2px rgba(34, 55, 70, 3);
  outline: none;
}
.item-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}
.todo-input input {
  flex: 1;
  padding: 6px 7px;
  border: 1px solid wheat;
  font-size: 1rem;
  transition: all 0.2s;
}
.todo-input input:focus {
  outline: none;
  border-color: grey;
}
.checkbox {
  display: flex;
  margin-left: 10px;
  width: 25px;
  height: 20px;
  opacity: 1;
  cursor: pointer;
}
.checkmark {
  display: inline-block;
  width: 15px;
  height: 19px;
  position: absolute;
}
.checkbox:checked + .checkmark {
  background-color: green;
  border-color: green;
}
.task-input-text {
  display: flex;
  flex: 1;
}
.checkbox:checked + .checkmark::after {
  content: "";
  top: 583px;
  left: 214px;
  border: 6px solid black;
  border-width: 0, 2px, 2px, 0;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.todo-item {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.items-left {
  margin-left: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}